@page
@model BlogProject.Pages.Posts.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PostE</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostE.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostE.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostE.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostE.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostE.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostE.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostE.BlogE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostE.BlogE.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PostE.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
